[tool.poetry]
name = "iscc"
version = "1.0.5"
build = "build.py"
description = "ISCC: Reference Implementation"
authors = ["Titusz Pan <tp@py7.de>"]
license="BSD 2-clause"
readme = "README.md"
homepage = "https://iscc.codes/"
repository = "https://github.com/iscc/iscc-specs"
keywords=["iscc", "identifier", "media", "content", "hash", "blockchain", "similarity"]
classifiers=[
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.6"
xxhash = "^2"
Pillow = "^8"
blake3 = "^0.1.8"
cython = { version = "^0.29", optional = true }
more-itertools = "^8.6"
bitarray-hardbyte = "^1.6"
bech32 = "^1.2"
numpy = "<=1.19.3"
numba = { version = "0.52", python = ">=3.6,<3.9", optional = true}
loguru = "^0.5"
imageio-ffmpeg = "^0.4.2"
pydantic = "^1.7.3"
scenedetect = {extras = ["opencv-headless"], version = "^0.5.4"}
opf-fido = "^1.4.1"

[tool.poetry.extras]
turbo = ["cython", "numba"]

[tool.poetry.dev-dependencies]
pytest = "^5"
mkdocs = "^1"
mkdocs-material = "^4"
mkdocs-redirects = "^1"
mkdocs-minify-plugin = "^0"
mkdocs-git-revision-date-localized-plugin = "^0"
black = { version = "*", allow-prereleases = true }
lxml = "^4.6"
codetiming = "^1.2"
humanize = "^3.2"
fauxfactory = "^3.1"

[build-system]
requires = ["poetry>=1.0", "setuptools", "wheel", "cython"]
build-backend = "poetry.masonry.api"
