# Python PIP requirements file
# see: https://pip.pypa.io/en/stable/user_guide/#requirements-files

mkdocs==1.0.4
mkdocs-material==4.4.3
mkdocs-git-revision-date-plugin==0.1.5
pytest==5.2.1
Pillow==6.2.1
xxhash==1.4.2
